<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li class="active">Cash Flow</li>
    </ol>
</div>

<div class="container-fluid">

        <div class="jumbotron" style="background-image: url('/img/Finance2.jpg')">
            <h1 style="color: #222;">Non conosci Cash Flow?</h1>
            <p style="color: #222;">La migliore soluzione per comercialisti e partite iva</p>
            <p><a class="btn btn-primary btn-lg" href="http://cashflow.albasoftsolutions.it/index.php?section=info" role="button" target="_blank">Scopri di più</a></p>
        </div>
        <div class="jumbotron" style="background-image: url('/img/cw22-sm-header-cloud-roles-exec-2179194.jpg')">
            <h1 style="color: #222;">Sei già registrato?</h1>
            <br>
            <br>
            <p><a class="btn btn-primary btn-lg" href="http://cashflow.albasoftsolutions.it/" role="button" target="_blank">Login In</a></p>
        </div>


</div>

