<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li class="active">Privacy Policy</li>
    </ol>

    <h1 class="hidden">Privacy Policy</h1>
</div>

<div class="container-fluid" ng-controller="AdminController">
    <panel panel-class="panel-midnightblue" heading="Lista Utenti">

        <div class="">
            <h2>Trattamento dei dati</h2>
            <p>
Autorizzo Credit-Key Srl al trattamento e all’elaborazione dei dati contenuti nei documenti da me
caricati all’interno del portale www.creditkey.it.</p>
            <p>
I dati raccolti saranno trattati nel rispetto del d. lgs. 196/2003, con espresso divieto di utilizzo degli
stessi per ogni altro scopo, se non quello di predisporre analisi tecniche della Centrale Rischi Banca
d'Italia, dei bilanci e degli estratti conto bancari.</p>
            <p>
            Presto pertanto il consenso a che i miei dati siano
oggetto di tutte le operazioni di trattamento elencate all’articolo 4, comma 1 lett. a) del D.lgs. 30
Giugno 2003, n. 196; presto il consenso al trattamento di dati, informazioni e notizie che mi
riguardano ad opera di Credit-Key Srl autorizzandola a comunicarli a terzi ai soli fini del
raggiungimento dello scopo sopra specificato; dichiaro di aver ricevuto idonea informativa prevista
dall’articolo 13 del Codice circa le finalità e le modalità del trattamento e di essere a conoscenza dei
propri diritti ai sensi dell’articolo 7 del Codice; autorizzo la conservazione dei dati finanziari che mi
riguardano anche successivamente alla cessazione dell’incarico dissociati dal titolare degli stessi a
meri scopi di elaborazione statistica interna.</p>
            <p>
            In caso di elaborazione richiesta per conto di terzi
dichiaro di avere acquisito dal titolare dei dati il consenso informato al trattamento e
all’elaborazione degli stessi mediante l'utilizzo di specifici programmi software ed applicativi ASP
forniti da Credit-Key Srl con le modalità e finalità sopra specificate nonché secondo le
previsioni del D.Lgs n.196/2003, sollevando Credit-Key Srl da ogni responsabilità derivante dalla
violazione delle norme dettate dalla l.675/96.</p>
            <p>
            Nessuna responsabilità potrà essere addebitata a
Credit-Key Srl per danni che dovessero derivare a terzi e/o al titolare dei dati trattati a causa della
divulgazione delle informazioni fornite ed oggetto dell’elaborazione richiesta.
            </p>
        </div>
    </panel>
</div>
